<!-- views/layout.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/apiCaller.js"></script>

    <style>
      pre {
        /* outline: 1px solid #ccc; */
        padding: 5px;
        margin: 5px;
        color: #d4d4d4;
      }
      .string {
        color: #ce9178;
      }
      .number {
        color: #569cd6;
      }
      .boolean {
        color: #b5cea8;
      }
      .null {
        color: #569cd6;
      }
      .key {
        color: #9cdcfe;
      }
    </style>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include('header.ejs')%>
  </body>
</html>
