<!-- views/layout.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <style>
      pre {
        outline: 1px solid #ccc;
        padding: 5px;
        margin: 5px;
        background-color: rgba(13, 13, 13, 1);
        color: #fff;
      }
      .string {
        color: #00a67d;
      }
      .number {
        color: darkorange;
      }
      .boolean {
        color: blue;
      }
      .null {
        color: magenta;
      }
      .key {
        color: #df3079;
      }
    </style>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include('header.ejs')%>
  </body>
</html>
